
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Twitter</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container ></app-explore-container>
  <div class="ion-text-center container-app">
    <!-- <img src="../../assets/img/play.png" (click)="playMusic()"> -->
    <ion-grid>
      <ion-row>
        <ion-col class="img-avatar"> 
          <img src="../../assets/img/sombras.png">
        </ion-col>
      </ion-row>
      <ion-row class="botones-radio">
        <ion-col>
          <!--audio autoplay controls>
            <source id="audioSource" src="http://rv3.denialstream.com:8074/;stream.mp3" type="audio/mpeg">
          </audio-->
          <img (click)="playMusicRadio()" src="../../assets/img/play.svg" class="ion-float-right">
        </ion-col>
        <ion-col>
          <img (click)="stopMusic()" src="../../assets/img/stop.svg" class="ion-float-left">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="logo-twitter" size="large" (click)="openSocial(1)"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-facebook" size="large" (click)="openSocial(2)"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-instagram" size="large" (click)="openSocial(3)"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-youtube" size="large" (click)="openSocial(4)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> 

  
</ion-content>
