.container-app{
    background: linear-gradient(-125deg, #6CCDFF 0%, #454EFF 80%) !important;
    height: 92%;
}

.img-avatar{
    text-align: center;
    margin: auto;
    margin-top:20px;
    margin-bottom: 50px;
    
}

.botones-radio ion-col img{ 
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 70%;
    margin-left: 20px;
    margin-right: 20px;

}